<%= form_with(model: vulnerability) do |form| %>
  <% if vulnerability.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vulnerability.errors.count, "error") %> prohibited this vulnerability from being saved:</h2>

      <ul>
        <% vulnerability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :severity, style: "display: block" %>
    <%= form.select :severity, ['Critical', 'High', 'Medium', 'Low'], prompt: "Select severity" %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, ['Unresolved', 'Resolved'], prompt: "Select status" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
