<p style="color: green"><%= notice %></p>

<% content_for :title, "Vulnerabilities" %>

<h1>Vulnerabilities</h1>

<% vulnerabilities_by_severity = Hash.new { |hash, key| hash[key] = [] } %>
<% @vulnerabilities.each do |vulnerability| %>
  <% vulnerabilities_by_severity[vulnerability.severity] << vulnerability %>
<% end %>

<div id="vulnerabilities">
  <% ['Critical', 'High', 'Medium', 'Low'].each do |severity| %>
    <% if vulnerabilities_by_severity[severity].any? %>
      <section>
        <h2><%= severity %></h2>
        <% vulnerabilities_by_severity[severity].each do |vulnerability| %>
          <p>
            <%= link_to vulnerability.name, vulnerability %>
          </p>
        <% end %>
      </section>
    <% end %>
  <% end %>
  <% if vulnerabilities_by_severity.values.all?(&:empty?) %>
    <p>No vulnerabilities found.</p>
  <% end %>
</div>

<%= link_to "New vulnerability", new_vulnerability_path %>
<%= link_to "Resolved vulnerabilities", resolved_vulnerabilities_path %>
